body {
  background-color: steelblue;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.show-me-the-money {
  background-color: white;
  height: 100px;
}

#container {
  background-color: cornsilk;
  height: 100px;
  }

